@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#header-nav-bar, #footer-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    padding: 10px;
}

a {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

button {
    font-size: 16px;
    padding: 10px 25px 10px 25px;
    border-radius: 8px;
    border: none;
}

#sign-in {
    background-color: #1f74d4;
    color: #ffffff;
}

#sign-in:hover {
    background-color: #4a8cd8;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > * {
    margin-top: 15px;
}

#all-pages-button, #random-page-button {
    background-color: #f1f4f7;
    color:black;
}

#all-pages-button:hover, #random-page-button:hover {
    border: solid #dddddd 1px
}

input {
    border-radius: 24px;
    border: solid 1px #dddddd;
    height: 40px;
    width: 500px;
    text-indent: 20px;
}

#footer-nav-bar {
    background-color: #f7f7f7;
    border-top: solid 1px #cecece;
}